@model CarDealershipTake3.ViewModels.AddModels
@{
    ViewBag.Title = "Models";

    var makes = new List<SelectListItem>();
    foreach (var make in Model.Makes)
    {
        makes.Add(new SelectListItem()
        {
            Text = make.Make,
            Value = make.MakeId.ToString()
        });
    }
}

<h2>Models</h2>

<h2>Makes</h2>
@Html.ValidationSummary("", new { @class = "text-danger" })
@using (Html.BeginForm("CreateModel", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <label>Make:</label>
    @Html.DropDownListFor(m => m.Model.MakdId,makes, new { @class = "form-control" })
    @Html.TextBoxFor(m => m.Model.Model, new { @class = "form-control" })
    <button>Add</button>

}

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Model</th>
            <th scope="col">Make</th>
            <th scope="col">Date Added</th>
            <th scope="col">User</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vmodel in Model.Models)
        {
            <tr>
                <td>@vmodel.Model</td>
                <td>@vmodel.Make</td>
                <td>@vmodel.DateAdded</td>
                <td>@vmodel.AddedBy</td>
            </tr>
        }
    </tbody>
</table>